.aboutSection {
  background-color: #FFF8F1; /* Black background */
  color: #000; /* White text */
  z-index: 40;
  position: relative;
  display: flex;
  width: 100%;
}

.leftColumn {
  width: 66.66%; /* 2/3 of the width */
  padding: 4em;
}

.rightColumn {
  width: 33.33%; /* 1/3 of the width */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure the parallax image doesn't overflow */
  position: relative; /* Ensure child elements are positioned relative to this container */
}

.parallaxImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%; /* Increase height to allow for parallax effect */
  background-image: url('/img/photo.jpg');
  background-size: cover; /* Adjust to cover the entire div */
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  transform: translateY(0); /* Initialize transform property */
  transition: transform 0.1s linear; /* Smooth transition for the parallax effect */
}


.title {
  text-align: left; /* Align title to the left */
  font-size: 28px;
  font-family: 'Red Hat Display', sans-serif; /* Use Red Hat Display font */
  font-weight: 800; /* Semi Bold */
  margin-bottom: 1.5rem;
  color: #775022;
}

.column {
  padding: 2.5rem;
  font-size: 16px;
  text-align: left; /* Ensure text is left-aligned */
  font-family: 'Manrope', sans-serif; /* Use Manrope font */
  font-weight: 500; /* Medium weight */
  max-width: 400px;
  margin: auto;
}

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
  }
  .leftColumn,
  .rightColumn {
    width: 100%;
  }
  .rightColumn {
    height: 300px;
  }
  .parallaxImage {
    height: 900px;
  }
  .title {
    font-size: 24px;
    padding-left: 0em;
  }
  .column {
    padding: 1rem;
  }
  .rightColumn {
    padding: 1rem 0;
  }
}
