/* index.module.css */
.column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 100%;
  height: 650px; /* Ensure the column takes the full viewport height */
}

.backgroundImage {
  position: absolute;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  height: 650px; /* Adjust this height as needed */
  background-image: url('/img/GR.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Ensure it is behind all other elements */
}

.heroBanner {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  text-align: left; /* Align text to the left */
  background-color: transparent; /* Remove the green background */
  width: 100%; /* Ensure full width */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.container {
  width: 100%; /* Ensure full width */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.hero__title {
  color: #2a2a2a; /* Set the title text color to black and ensure it takes precedence */
  font-family: 'Red Hat Display', sans-serif;
  font-size: 40px;
  margin-bottom:  5px;
}

.hero__subtitle {
  color: black; /* Set the subtitle text color to black and ensure it takes precedence */
  font-size: 18px;
}

.text {
  color: black; /* Set the subtitle text color to black and ensure it takes precedence */
  font-size: 18px;
  margin-bottom: 0px !important; 
}

.logoContainer {
  display: flex;
  align-items: center; /* Center items vertically */
}

.row {
  display: flex;
  align-items: start; /* Center items vertically */
}

.logo {
  margin-right: 16px; /* Add some space between the logo and the text */
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttonContainer {
  margin-top: 0px; /* Add space between the text and the button */
}


.illustrationColumn {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-end; /* Align items to the bottom */
  width: 100%;
  height: 650px; /* Ensure the column takes the full viewport height */
  position: relative; /* Add position relative to position the image absolutely */
}

.illustrationContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 650px; /* Adjust the height as needed */
  background-image: url('/img/illustration.png');
  background-size: contain; /* You can change this to 'cover' if needed */
  background-repeat: no-repeat;
  background-position: bottom left;
}



.illustration {
  margin-top: 0px; /* Add space between the text and the button */
  /* position: absolute; */
  height: 650px;
}

.googlePlay {
  width: auto; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  position: relative;
  left: -12px;
  top: -16px;
}

.textContainer {
  text-align: left; /* Ensure text aligns to the left */
  margin-left: 10px;
  margin-left: 10px;
}

/* If there's a box shadow, this will remove it */
.navbar {
  box-shadow: none;
}

.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  padding: 21px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(165, 157, 149, 0.2);
}

.buttonRow {
  display: flex;
  align-items: center;
  flex: 1;
}

.icon {
  margin-right: 0;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.arrow {
  margin-right: 0;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.iconButtonText {
  /* font-family: 'Manrope-SemiBold', sans-serif; */
  /* font-weight: 600; */
  letter-spacing: 0.3px;
  font-size: 17px;
  color: #000;
  margin-left: 10px;
  flex-shrink: 1; /* Added to allow text to shrink */
}



@media (min-width: 768px) {
  .heroBanner {
    flex-direction: row;
    justify-content: space-between;
  }
}

.column {
  width: 100%;
}

@media (min-width: 768px) {
  .column {
    width: 48%;
  }
}

.buttons {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
}

@media (max-width: 480px) {
  .illustrationContainer {
    height: 480px; /* Further adjust the height for very small screens */
  }
  .illustrationColumn {
    height: 480px; 
  }
  .backgroundImage {
    height: 480px;
  }
  .row {
    flex-direction: column; /* Change to column layout on small screens */
  }
}


