.heroBanner {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  text-align: left; /* Align text to the left */
  background-color: transparent; /* Remove the green background */
}

.hero__title {
  color: black; /* Set the title text color to black and ensure it takes precedence */
}

.hero__subtitle {
  color: black; /* Set the subtitle text color to black and ensure it takes precedence */
}

/* If there's a box shadow, this will remove it */
.navbar {
  box-shadow: none;
}


@media (min-width: 768px) {
  .heroBanner {
    flex-direction: row;
    justify-content: space-between;
  }
}

.column {
  width: 100%;
}

@media (min-width: 768px) {
  .column {
    width: 48%;
  }
}

.buttons {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
}

