.supportSection {
  background-color: #fff;
  color: #000; /* White text */
  padding: 3rem 0; /* Padding for top and bottom */
  z-index: 40;
  position: relative;
}

.container {
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container */
  padding: 0 2rem; /* Add some padding on the sides */
}

.title {
  padding-left: 1rem;
  text-align: left; /* Align title to the left */
  font-size: 30px;
  font-family: 'Red Hat Display', sans-serif; /* Use Red Hat Display font */
  font-weight: 700; /* Semi Bold */
  margin-bottom: -1.5rem;
  margin-top: 1.5rem;
  color: var(--ifm-color-primary-dark);
}

.column {
  
  font-size: 16px;
  text-align: left; /* Ensure text is left-aligned */
  font-family: 'Manrope', sans-serif; /* Use Manrope font */
  font-weight: 500; /* Medium weight */
  padding: 2rem;
}


.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  padding: 21px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(165, 157, 149, 0.2);
  max-width: 400px;
}

.buttonRow {
  display: flex;
  align-items: center;
  flex: 1;
}

.icon {
  margin-right: 0;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.arrow {
  margin-right: 0;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.iconButtonText {
  /* font-family: 'Manrope-SemiBold', sans-serif; */
  /* font-weight: 600; */
  letter-spacing: 0.3px;
  font-size: 17px;
  color: #000;
  margin-left: 10px;
  flex-shrink: 1; /* Added to allow text to shrink */
}

@media (max-width: 997px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 997px) {
  .column {
    flex: auto;
  }
  .title {
    padding-bottom: 1.5rem;
  }
  .column h3 {
    padding-bottom: 0.5rem;
  }
  
  .column p {
    min-height: 180px;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}
