.supportSection {
  background-color: #fff;
  color: #000; /* White text */
  padding: 3rem 0; /* Padding for top and bottom */
  z-index: 40;
  position: relative;
}

.container {
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container */
  padding: 0 2rem; /* Add some padding on the sides */
}

.title {
  padding-left: 1rem;
  text-align: left; /* Align title to the left */
  font-size: 28px;
  font-family: 'Red Hat Display', sans-serif; /* Use Red Hat Display font */
  font-weight: 700; /* Semi Bold */
  margin-bottom: -0.5rem;
  color: var(--ifm-color-primary-dark);
}

.column {
  
  font-size: 16px;
  text-align: left; /* Ensure text is left-aligned */
  font-family: 'Manrope', sans-serif; /* Use Manrope font */
  font-weight: 500; /* Medium weight */
  padding: 2rem;
}

@media (max-width: 1024px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}
